.tienda-inicio-bg {
  background-image: url(/img/tienda/tienda-inicio.jpg);
  padding: 300px 70px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .tienda-inicio-bg h2 {
    display: flex;
    font-size: 60px;
    color: #f2f2f2;
    text-align: center;
    justify-content: center; }

/* Globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  color: #333; }

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #ffffff; }

.icon-cart:hover {
  cursor: pointer; }

img {
  max-width: 100%; }

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px 0;
  width: 100%; }

.header {
  width: 100%; }

.container-icon {
  position: relative;
  margin-right: 60px; }

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none; }

#contador-productos {
  font-size: 12px;
  color: #000; }

/* Main */
main {
  background-color: #333; }

.items-container {
  display: grid;
  justify-items: center; }

.tarjetaItem {
  display: flex;
  flex-direction: column;
  width: 89%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  align-items: center;
  padding: 10px;
  border-radius: 9%;
  background-color: #ececec; }
  .tarjetaItem p {
    font-size: 30px; }
  .tarjetaItem h3 {
    font-size: 50px; }
  .tarjetaItem img {
    border-radius: 9%;
    border: 2px solid black; }
  .tarjetaItem button {
    width: 90%;
    height: 60px;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    color: white; }

.carritoContenido {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 12vh;
  right: 12vw; }

.carritoContenido::-webkit-scrollbar {
  display: none; }

.carrito-contenedor {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 20px; }
  .carrito-contenedor .header-carrito {
    color: white;
    display: flex;
    padding-top: 15px; }
    .carrito-contenedor .header-carrito h1 {
      margin-left: 50px; }
    .carrito-contenedor .header-carrito h2 {
      margin-left: 250px;
      cursor: pointer; }
    .carrito-contenedor .header-carrito h2:hover {
      color: red; }
  .carrito-contenedor .contenido-carrito {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px; }
    .carrito-contenedor .contenido-carrito .nombre-item {
      font-size: 30px; }
    .carrito-contenedor .contenido-carrito .precio-item {
      font-size: 20px; }
  .carrito-contenedor .total-contenedor {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  .carrito-contenedor .eliminar-item {
    cursor: pointer; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

body {
  background-color: #f2f2f2; }

header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem; }

.logo-header img {
  width: 50px; }

.nav-menu ul {
  display: flex;
  align-items: center;
  text-decoration: none; }

.nav-menu li {
  margin-right: 2rem; }

.nav-menu a {
  color: #fff; }

.nav-menu li:last-child {
  background: #4ad295;
  padding: .25rem .75rem;
  border-radius: .2rem; }

.menu-icon, #check {
  display: none; }

.logoin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.presentacion {
  text-align: center;
  padding: 20px 50px;
  border: #222 solid;
  margin: 0px 50px;
  margin-bottom: 50px; }

.titulo {
  margin: 10px; }

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.presentaciondeservicio {
  margin: 10px;
  border: #d4d4d4 solid;
  text-align: center;
  width: 90%;
  background-color: #f2f2f2; }
  .presentaciondeservicio p {
    font-size: 50px;
    padding: 20px; }

.imginicio {
  width: 200px; }

.sobre-inicio-bg {
  background-image: url(/img/sobre/sobre-inicio.jpg);
  padding: 300px 70px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .sobre-inicio-bg h2 {
    display: flex;
    font-size: 60px;
    color: #f2f2f2;
    text-align: center;
    justify-content: center; }

.sobre-informacion {
  background-color: white; }

.info-img {
  display: flex;
  justify-content: center;
  padding: 20px; }
  .info-img img {
    display: flex;
    width: 90vw; }
  .info-img h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
    display: none; }
  .info-img p {
    color: #505050;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 150px;
    font-size: 20px; }

.trabajo-inicio-bg {
  background-image: url(/img/trabajo/trabajo-inicio.jpg);
  padding: 300px 70px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .trabajo-inicio-bg h2 {
    display: flex;
    font-size: 60px;
    color: #f2f2f2;
    text-align: center;
    justify-content: center; }

.trabajo-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .trabajo-info h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center; }

.colums-trabajo {
  border: #cecece solid;
  margin: 10px 20px;
  background-color: #e5e5e5; }
  .colums-trabajo img {
    width: 350px; }
  .colums-trabajo p {
    padding: 20px;
    text-align: center; }

.servicio-inicio-bg {
  background-image: url(/img/servicio/servicio-inicio.jpg);
  padding: 300px 70px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .servicio-inicio-bg h2 {
    display: flex;
    font-size: 60px;
    color: #f2f2f2;
    text-align: center;
    justify-content: center; }

.servicio-info {
  display: flex;
  flex-direction: column; }
  .servicio-info h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px; }

.columns-servicio {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .columns-servicio h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px; }
  .columns-servicio img {
    width: 350px;
    margin-bottom: 20px; }
  .columns-servicio p {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px; }

.contacto-inicio-bg {
  background-image: url(/img/contacto/contacto-inicio.jpg);
  padding: 300px 70px;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  .contacto-inicio-bg h2 {
    display: flex;
    font-size: 60px;
    color: #f2f2f2;
    text-align: center;
    justify-content: center; }

.contacto-columns-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.contacto-info {
  display: flex;
  width: 90vw;
  height: 120px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border: #cccccc solid;
  margin-top: 10px; }

.footer_container {
  display: flex;
  height: 50vh;
  color: #f2f2f2;
  background-color: #222;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  color: #f2f2f2;
  background-color: #222;
  flex-direction: column;
  align-items: center; }
  .footer_container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 2rem;
    padding: 20px; }

.btn_footer {
  text-align: center;
  color: #f2f2f2; }
  .btn_footer li {
    padding: 20px; }
  .btn_footer a {
    text-decoration: none;
    color: #f2f2f2;
    width: 20px; }
  .btn_footer a:hover {
    color: aquamarine; }

.line_footer {
  display: flex;
  height: 2px;
  width: 90vw;
  background-color: #f2f2f2; }

@media (max-width: 768px) {
  .checkbtn {
    display: block; }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0; }
  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0; }
  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem; }
  #check:checked ~ ul {
    left: 0;
    transition: all .25s; }
  .container_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 768px) {
  .footer_container {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center; }
  .columns {
    display: flex;
    flex-wrap: wrap; }
  .presentaciondeservicio {
    width: 47%; }
  .sobre-informacion {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px 0 10px; }
  .info-img img {
    width: 48vw; }
  .sobre-info img {
    width: 48vw; }
  .sobre-info h2 {
    display: flex;
    justify-content: center; }
  .sobre-info p {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px; }
  .colums-trabajo {
    width: 30vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px; }
  .trabajo-info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; }
    .trabajo-info h2 {
      display: none; }
  .servicio-info {
    display: flex; }
    .servicio-info h2 {
      margin-bottom: 20px; }
  .columns-servicio {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    border: #c9c9c9 solid;
    margin: 20px; }
    .columns-servicio img {
      width: 150px;
      margin: 0; }
    .columns-servicio h3 {
      margin: 0;
      margin-left: 10px; }
  .contacto-columns-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .contacto-info {
    display: flex;
    justify-content: center;
    width: 33vw;
    margin: 10px 20px 0 20px; }
  .items-container {
    display: flex; }
  .tarjetaItem {
    margin: 10px 20px 10px 20px;
    width: 40%; } }

/*Color base #dab727*/
