header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.logo-header img{
    width: 50px;
}

.nav-menu{
    ul{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    li{
        margin-right: 2rem;
    }

    a{
        color: #fff;
    }

    li:last-child{
        background: #4ad295;
        padding: .25rem .75rem;
        border-radius: .2rem;
    }
}

.menu-icon, #check{
    display: none;
}