.tienda-inicio-bg{
    background-image: url(/img/tienda/tienda-inicio.jpg);
    padding: 300px 70px;
    background-position: center center;
    background-size: cover;
    text-align: center;

    h2{
        display: flex;
        font-size: 60px;
        color: #f2f2f2;
        text-align: center;
        justify-content: center;
    }
}

.col-sm-4{
    display: grid;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}

aside{
    display: flex;
}