.tienda-inicio-bg{
    background-image: url(/img/tienda/tienda-inicio.jpg);
    padding: 300px 70px;
    background-position: center center;
    background-size: cover;
    text-align: center;

    h2{
        display: flex;
        font-size: 60px;
        color: #f2f2f2;
        text-align: center;
        justify-content: center;
    }
}

/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #ffffff;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    width: 100%;
}

.header{
    width: 100%;
}

.container-icon{
    position: relative;
    margin-right: 60px;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
}

#contador-productos{
    font-size: 12px;
    color: #000;
}

/* Main */

main{
    background-color: #333;
}

.items-container{
    display: grid;
    justify-items: center;

}

.tarjetaItem{
    display: flex;
    flex-direction: column;
    width: 89%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    align-items: center;
    padding: 10px;
    border-radius: 9%;
    background-color: #ececec;

    p{
        font-size: 30px;
    }

    h3{
        font-size: 50px;
    }

    img{
        border-radius: 9%;
        border: 2px solid black;
    }

    button{
        width: 90%;
        height: 60px;
        border-radius: 10px;
        background-color: green;
        font-size: 20px;
        color: white;
    }
}
.carritoContenido{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 12vh;
    right: 12vw;
}
.carritoContenido::-webkit-scrollbar{
    display: none;
}
.carrito-contenedor{
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;

    .header-carrito{
        color: white;
        display: flex;
        padding-top: 15px;

        h1{
            margin-left: 50px;
        }

        h2{
            margin-left: 250px;
            cursor: pointer;
        }
        h2:hover{
            color: red;
        }

    }
    .contenido-carrito{
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .nombre-item{
            font-size: 30px;
        }
        .precio-item{
            font-size: 20px;
        }

    }
    .total-contenedor{
        font-size: 20px;
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

    }
    .eliminar-item{
        cursor: pointer;
    }

}
.sumar{
    cursor: pointer;
}
.restar{
    cursor: pointer;
}

